/* Importo fuente Roboto light */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* estilos dentro del wrapper */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    background: #FFF;
    color: #827F7F;
    margin: 0;
}

.btn {
    padding: .5em 2em;
    border-radius: 4px;
    margin: .6em;
}

.btn-green {
    background: #4CAF50;
    color: #FFF;
}

.btn-cyan {
    background: #06D6A0;
    color: #FFF;
}

i.fas.fa-eye.eye {
    font-size: 1em;
    color: #FFF;
    opacity: 1;
    margin-left: .5em;
}

.center-button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: 1em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 12em;
    background-color: #000000b7;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -4em;
    right: -13em;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext ul {
    list-style: none;
    text-align: left;
}

/* Sección Busqueda  */

.search-wrapper {
    text-align: center;
}

.search-wrapper h3 {
    font-size: 1.2em;
}

.search-wrapper h5 {
    font-size: .7em;
}

.searchbox input {
    -webkit-appearance: none;
    outline: none;
    width: 30em;
    height: 35px;
    border-radius: 4px 0 0 4px;
    background-color: #E4E4E4;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

.search-icon {
    padding: 7.5px 7px 8.5px 7px;
    color: #FFF;
    background: #E4E4E4;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
}

/* Section user info */

.user-id-wrapper {
    width: 62em;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.selected-user-id {
    min-width: 13em;
    height: 2em;
    background: #EF476F;
    color: #FFF;
    border-radius: 6px 100px 12px 6px;
    display: flex;
    align-items: center;
    padding: .4em 2em .4em 1em;
    margin: 1em 0 -4em 0;
}

#user-area {
    background: rgba(055, 068, 202, 0.6);
    min-height: 30em;
    margin-top: 5em;
    border-top-color: #626161;
    border-top-width: .6em;
    border-top-style: solid;
    padding-bottom: 1em;
}

.user-icon-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: -9em;
    margin-top: 6em;
}

.user-icon {
    width: 8em;
    height: 8em;
    text-align: center;
    background: #626161;
    color:#EFEFEF;
    border-radius: 50%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
}

.user-icon i {
    font-size: 7em;
}

/* section cards */

.cards-wrapper {
    max-width: 62em;
    max-height: 64em;
    margin: 5em auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    grid-gap: 2em;
}

.card {
    width: 30em;
    background: #EFEFEF;    
    border-radius: 6px;
    box-shadow: 12px 12px 2px 1px #626161;    
}

/* Cuando no hay ningún usuario seleccionado: */

.unselected-wrapper {
    display: none;
    min-height: 14em;
    min-width: 25em;
    /* center the id card icon */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card i {
    font-size: 8em;
    color: #827F7F;
    opacity: 0.2;
}

.card p {
    font-size: .8em;
}

/* Primera tarjeta: arriba a la izquierda. Info de Usuario */

.user-info {
    margin: 2em 0 2em 2em;
}

.user-info p {    
    text-align: left;
    font-size: 1em;
    line-height: .4;
    color: #000;
}

.user-info span {
    font-weight: bold;
}

/* Segunda tarjeta: arriba a la derecha. Productos y Servicios contratados */

.card-title {
    font-size: 1.4em;
    margin: 1em 0 1em 2em;
}

.check-wrapper {
    max-width: 24em;
    margin: 0 auto;
}

.check-wrapper input {
    margin-left: .4em;
}

.check-wrapper ul {
    padding: 0;
    list-style: none;
    max-width: 19em;
    display: flex;
    flex-flow: row wrap;
}

.products-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-box {
    max-width: 10em;
    line-height: 0.4;
    padding: .3em 1.4em;
    color: #FFF;
    border-radius: 4px;
    margin: .5em;
}

.active {
    background: #EF476F;
}

.pending {
    background: #3744CA;
}

.suspended {
    background: #ADAAAA;
}

.canceled {
    background: #c53b3b;
}

.ended {
    background: #827F7F;
}

.fraud {
    background: #e2b24c;
}

/* Checkbox element, when checked */
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 1px #4CAF50;
}

/* Tercera tarjeta: abajo a la izquierda. Tabla de Facturación */

p.last-invoice {
    font-size: .9em;
    text-align: right;
    margin-right: 3.2em;
}

.table-wrapper {
    margin: 0 auto;
    max-width: 24em;
}

.invoice-table {
    width: 100%;    
    color: #0F0E0E;
    padding: 1em;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
}

.invoice-table thead {
    background: #626161;
    color: #fff;
}

.invoice-table tbody {
    background: #E4E4E4;
}

.checks-invoice {
    max-width: 17em;
}

/* Cuarta tarjeta: abajo a la derecha. Tickets levantados */

.tickets-wrapper {
    width: 28em;
    margin: 0 auto;
}

.ticket {
    background: #FFD166;
    color: #5C5C5C;
    height: 4em;
    margin: 1em;
}

.ticket-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.top h3 {
    margin: .4em 0 0 .4em;
    font-size: 1em;
}

.top i {
    width: 17px;
    height: 17px;
    margin: .4em .4em 0 0;
    opacity: 1;
    font-size: 1em;
    background: #FFFFFF;
    color: #626161;
    padding: .2em;
    border-radius: 4px;
}

.bottom p {
    margin: .7em;
}

/* Ajustes mínimos versión mobile */

@media (max-width: 62em) {
    .user-id-wrapper {
        width: unset;
        justify-content: center;
        margin-top: 3.5em;
    }

    .cards-wrapper {
        flex-flow: row wrap;
        justify-content: center;
    }

    .card {
        width: 25em;
    }

    
    #user-area {
        padding-bottom: 55em;
    }

    .searchbox input {
        width: 22em;
    }
  }