/* Importo fuente Roboto light */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/* estilos dentro del wrapper */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    background: #FFF;
    color: #827F7F;
    margin: 0;
}

.btn {
    padding: .5em 2em;
    border-radius: 4px;
    margin: .6em;
}

.btn-green {
    background: #4CAF50;
    color: #FFF;
}

.center-button {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.search-wrapper {
    text-align: center;
}

.search-wrapper h3 {
    font-size: 1.2em;
}

.search-wrapper h5 {
    font-size: .7em;
}

.searchbox input {
    -webkit-appearance: none;
    outline: none;
    width: 30em;
    height: 35px;
    border-radius: 4px 0 0 4px;
    background-color: #E4E4E4;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

.search-icon {
    padding: 7.5px 7px 8.5px 7px;
    color: #FFF;
    background: #E4E4E4;
    border-radius: 0 4px 4px 0;
    margin-left: -4px;
}

/* Section user info */

.user-id-wrapper {
    width: 52em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.selected-user-id {
    min-width: 13em;
    height: 2em;
    background: #EF476F;
    color: #FFF;
    border-radius: 6px 100px 12px 6px;
    display: flex;
    align-items: center;
    padding: .4em 2em .4em 1em;
    margin: 1em 0 -4em 0;
}

#user-area {
    background: rgba(055, 068, 202, 0.6);
    min-height: 30em;
    margin-top: 5em;
    border-top-color: #626161;
    border-top-width: .6em;
    border-top-style: solid;
}

.info-user-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.user-icon-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-bottom: -9em;
    margin-top: 6em;
}

.user-icon {
    width: 8em;
    height: 8em;
    text-align: center;
    background: #626161;
    color:#EFEFEF;
    border-radius: 50%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
}

.user-icon i {
    font-size: 7em;
}

/* section cards */

.cards-wrapper {
    max-width: 54em;
    display: flex;
    flex-flow: row wrap;
    margin: 4em;
    justify-content: center;
}

.card {
    min-width: 25em;
    background: #EFEFEF;    
    border-radius: 6px;
    margin: 1em;
    box-shadow: 12px 12px 2px 1px #626161;    
}

/* Cuando no hay ningún usuario seleccionado: */

.unselected-wrapper {
    display: none;
    min-height: 14em;
    min-width: 25em;
    /* center the id card icon */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card i {
    font-size: 8em;
    color: #827F7F;
    opacity: 0.2;
}

.card p {
    font-size: .8em;
}

/* Primera tarjeta: arriba a la izquierda. Info de Usuario */

.selected {
    margin: 2em 0 2em 2em;
}

.user-info p {    
    text-align: left;
    font-size: 1em;
    line-height: .4;
    color: #000;
}

.user-info span {
    font-weight: bold;
}

/* Segunda tarjeta: arriba a la derecha. Productos y Servicios contratados */

.user-services h4 {
    font-size: 1.4em;
    margin-bottom: .2em;
}

.check-wrapper {
    max-width: 22em;
}

.check-wrapper ul {
    padding: 0;
    list-style: none;
    max-width: 19em;
    display: flex;
    flex-flow: row wrap;
}

.product-box {
    max-width: 10em;
    line-height: 0.4;
    padding: .3em 0 .3em .9em;
    color: #FFF;
    border-radius: 4px;
}

.active {
    background: #EF476F;
}

/* Checkbox element, when checked */
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 1px #4CAF50;
  }

/* Ajustes mínimos versión mobile */

@media (max-width: 62em) {
    .user-id-wrapper {
        width: unset;
        justify-content: center;
        margin-top: 3.5em;
    }

    .searchbox input {
        width: 22em;
    }
  }